body, html {
	margin: 0;
	background-color: #e6ccff;
	overflow: hidden;
}

.container {
	width: 100vw;
	height: 100vh;
	padding: 2em;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-family: 'Georgia', serif;
	font-size: 50pt;
	text-align: center;
}

button {
	font-size: 15pt;
	font-family: 'Arial', sans-serif;
	padding: 0.5em;
}

footer {
	font-family: 'Arial', sans-serif;
	width: 100vw;
	font-size: 12pt;
	padding: .6em;
	position: absolute;
	bottom: 0px;
	background-color: #00000022;
}